@use "../../styles/index" as style;

.login {
  position: relative;
  padding: 48px 200px;
  &_header {
    @include style.flex(space-between, center);
    padding: 48px 200px;
    .boxTMP {
      width: 208px;
      height: 60px;
    }
    // &--logo {

    // }
  }

  &_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    &--title {
      p {
        font-size: 64px;
        padding-bottom: 20px;
      }
    }
    label {
      padding-bottom: 10px;
    }
    .inputLogin {
      width: 407px;
      height: 57px;
      border: 1px solid black;
      border-radius: 6px;
      margin-top: 10px;
      margin-bottom: 30px;
      padding-left: 12px;
      font-size: 16px;
      :focus {
        outline: none;
      }
    }

    .errorValidateEmail {
      color: rgb(122, 122, 122);
    }

    button {
      width: 407px;
      height: 57px;
      color: white;
      background-color: style.$primary-color;
      border-radius: 50px;
      border: none;
    }
  }
}
