*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 

  tr:nth-child(even){
    background-color: #ddd;
    font-weight: 600;
    color: #00775f;
  }

  .title-table{
    height: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #00775f;
    color: white;
    font-weight: 700;
  }