@use "../../style/index" as style;

.launcher-container {
  background: linear-gradient(to bottom, #88f5fe, #68aaff);
  width: 100vw;
  height: 100vh;
  padding: 0 180px;

  .error {
    padding: 10px 12px;
    background-color: white;
    font-weight: 500;
    width: max-content;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto;
  }
}

.launcher {
  padding-top: 70px;
  &_title {
    text-align: center;
    font-size: 24px;
    color: #ee4e83;
    padding-bottom: 20px;
  }

  &_form {
    text-align: center;
    @include style.flex(center, center);
    gap: 20px;
    padding-bottom: 20px;
    &--inputsearch {
      width: 500px;
      height: 50px;
      border-radius: 100px;
      border: none;
      padding-left: 12px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    &--buttonsearch {
      width: 100px;
      height: 50px;
      border-radius: 100px;
      border: none;
      background-color: #ff3333;
      color: white;
      font-size: 16px;
    }
  }

  &_form-changetemp {
    text-align: center;

    &--but-change {
      padding: 14px 14px;
      border: none;
      border-radius: 100px;
      font-size: 16px;
      font-weight: 500;
      color: white;
      background-color: #66a6ff;
      margin-bottom: 32px;
    }
  }
}

.citytemperature {
  background-color: white;
  border-radius: 36px;
  padding: 30px 70px;

  &_content-top {
    @include style.flex(center, space-between);
    margin-bottom: 10px;
    &--namecity {
      h2 {
        font-size: 40px;
        margin-bottom: 4px;
      }

      p {
        color: #666;
      }
    }

    &--icon {
      // width: 170px;
      // height: 170px;
      // background-color: yellow;
      @include style.flex(center, center);
      .img {
        img {
          width: 200px;
        }
      }
      .temp {
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }

  &_content-bottom {
    @include style.flex(center, space-around);
    &--item-info {
      color: #666;
      font-size: 20px;
      text-align: center;

      .info-icon {
        margin: 0 auto;
        font-size: 40px;
      }
      .info {
        font-weight: 600;
        font-size: 18px;
        margin-top: 4px;
      }
    }
  }
}
