@use "../../styles/index" as style;

.profile {
  @include style.flex(none, none);

  &_left {
    position: relative;
    height: 100vh;
    width: 320px;
    background-color: #d9d9d9;

    &--logo {
      img {
        position: absolute;
        top: 30px;
        left: 100px;
      }
    }
    &--list {
      position: absolute;
      top: 100px;
      left: 34px;
      li {
        list-style: none;
        padding-bottom: 10px;
        font-size: 20px;
        a {
          color: #212353;
          text-decoration: none;
        }
      }
    }
  }

  &_right {
    width: 100%;
    padding: 120px 124px;
    &--input {
      @include style.flex(space-between, center);
      gap: 20px;
      .buttonAddNew {
        button {
          width: 252px;
          height: 58px;
          border-radius: 50px;
          background-color: style.$primary-color;
          color: white;
          border: none;
        }
      }

      .input {
        @include style.flex(none, center);
        gap: 43px;

        &_Title {
          input {
            width: 368px;
            height: 49px;
            border: 1px solid black;
            border-radius: 6px;
            padding-left: 16px;
            :focus {
              outline: none;
              border: none;
            }
          }
        }

        &_SelectTags {
          select {
            width: 368px;
            height: 49px;
            border: 1px solid black;
            border-radius: 6px;
            padding-left: 16px;
            :focus {
              outline: none;
              border: none;
            }
          }
        }
      }
    }

    &--titleTable {
      table {
        font-family: arial, sans-serif;
        // border-collapse: collapse;
        width: 100%;
        margin-top: 36px;
        border: 1px solid black;
      }

      // td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr {
        border: 1px solid black;
        background-color: #dddddd;
      }

      .buttonDelAndEdit {
        display: flex;
        justify-self: center;
        gap: 50px;
        button {
          border: none;
          background-color: #dddddd;
        }
      }
    }
  }
}

.boxInsretData {
  .formData {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-content: center;
  }
  input {
    width: 350px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 16px;
    font-size: 16px;
    :focus {
      outline: none;
      border: none;
    }
  }

  button {
    height: 50px;
    width: 100px;
    background-color: style.$primary-color;
    color: white;
    border: none;
    border-radius: 50px;
  }
}

@media (max-width: 1700px) {
  .profile {
    &_left {
      background-color: white;
    }
  }
}

@media (max-width: 1330px) {
  .profile {
    &_left {
      width: 270px;
    }

    &_right {
      &--input {
        .buttonAddNew {
          button {
            width: 200px;
          }
        }

        .input {
          input {
            width: 280px;
          }
        }

        .input_SelectTags {
          select {
            width: 280px;
          }
        }
      }
    }
  }
  .boxInsretData {
    .formData {
      gap: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .profile {
    &_left {
      width: 270px;
    }

    &_right {
      padding: 90px 100px;
      &--input {
        .buttonAddNew {
          button {
            width: 170px;
          }
        }

        .input {
          input {
            width: 230px;
          }
        }

        .input_SelectTags {
          select {
            width: 230px;
          }
        }
      }
    }
  }
  .boxInsretData {
    .formData {
      gap: 10px;
      input {
        width: 200px;
      }
    }
  }
}
